@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0f172a;
  /* Slate 900 */
  --foreground: #f8fafc;
  /* Slate 50 */
  --muted: #334155;
  /* Slate 700 */
  --muted-foreground: #94a3b8;
  /* Slate 400 */
  --accent: #0ea5e9;
  /* Sky 500 */
  --accent-foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

::selection {
  background-color: var(--accent);
  color: white;
}